body {
    background-color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leftside {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: white;
}

.rightside {
    flex: 1;
    color: white;
    padding-left: 10px;
}

.register {
    display: flex;
    flex: 1;
    align-items: center; 
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calendar {
    display: flex;
    flex: 1;
    justify-content: left;
}

.register-element{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding-left: 10px;
}